In [0]:
%sql
/*
Q1. Students & Subjects

Table: Marks   added

+------------+--------+--------+--------+
| student_id | math   | physics| chemistry |
+------------+--------+--------+-----------+
| 1          | 90     | 85     | 88        |
| 2          | 76     | NULL   | 80        |
| 3          | 89     | 92     | NULL      |
+------------+--------+--------+-----------+

Rearrange the Marks table so that each row has (student_id, subject, marks).
Do not include rows where marks are NULL.
Order the output by student_id, subject.

Expected Output:

+------------+-----------+-------+
| student_id | subject   | marks |
+------------+-----------+-------+
| 1          | math      | 90    |
| 1          | physics   | 85    |
| 1          | chemistry | 88    |
| 2          | math      | 76    |
| 2          | chemistry | 80    |
| 3          | math      | 89    |
| 3          | physics   | 92    |
+------------+-----------+-------+*/


select student_id, 'math' as subject, math as marks 
from marks 
where math is not null
union all
select student_id , 'physics' as subject, physics as marks 
from marks where physics is not null
union all
select student_id , 'chemistry' as subject , chemistry as marks
from marks where chemistry is not null
order by student_id;

In [0]:
%sql
/*Union all / Unpivot - convert a wide table to long table*/